<section class="hero is-success is-large">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src=".\assets\pictures\tomato.png" alt="Logo">
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item">
                Report
              </a>
              <a class="navbar-item">
                Settings
              </a>
              <a class="navbar-item">
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
              </button></a>
              <a class="navbar-item">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                  </button></a>
              
              </div>
          </div>
        </div>
      </nav>
    </div>
  
    <!-- Hero content: will be in the middle -->
    <app-home></app-home>
  
    <!-- Hero footer: will stick at the bottom -->
    <!-- <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul class="is-center">
            <li><a>Tasks</a></li>
          </ul>
        </div>
      </nav>
    </div> -->
  </section>