<div class="container">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="box">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Pomodoro">
            <!-- Pomodoro Timer comes here-->
            <br /><br /><br />
            <app-timer></app-timer>
          </mat-tab>

          <mat-tab label="Short Break">
            <!-- Short Break comes here-->
            <br /><br /><br />
            <app-short-break></app-short-break>
          </mat-tab>
          <mat-tab label="Long Break">
            <br /><br /><br />
            <!-- Long Break comes here-->
            <app-long-break></app-long-break>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
